{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
    <h2 class="text-4xl font-bold dark:text-white">Log In</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="mt-5 inline-block rounded bg-indigo-600 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-indigo-500" type="submit">Log In</button>
    </form>
{% endblock content %}